/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/*Logo*/
.logo-img {
    width: 35%;
    padding: 2px;
}

/*Colores de fondo*/
.fondo-header-footer {
    background-color: #a69db4;
}

.fondo-main {
    background-color: #f8f8ff;
}

/*Enlaces*/
body a {
    text-decoration: none !important;
    color: #953f70 !important;
}

/*Banners*/
.img-centrado {
    text-align: center;
}

.banner-tamaño {
    width: 45%;
    height: auto;
    margin-top: 0.5%;
}

/* Header Grid */
.header-grid {
    padding: 0% 3%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "search logo login";
    align-items: center;
}

.logo {
    grid-area: logo;
    padding: 1%
}

.logo a {
    display: flex;
    justify-content: center;
}

.search {
    grid-area: search;
}

.search form {
    display: flex;
    justify-content: center;
}

.login {
    display: flex;
    align-items: baseline;
}

.login p {
    margin-right: 1%;
}

/* Navbar */

nav.navbar-tablet-mobile {
    display: none;
}

nav.navbar-desktop {
    display: block;
}

.navigation-bar {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-bar {
    font-size: 105%;
    border-top: 2px solid #953f705a;
    padding: 1% 0%;
}

.nav li {
    margin: 0% 3%;
}

a:active {
    color: #f8f8ff !important;
}

/* Novedades */

main h1 {
    text-align: center;
    font-weight: 600;
    padding: 3% 0%;
}

/* Productos y Tarjetas */
.tarjeta-padre {
    position: relative;
}


.tarjeta-nuevo {
    position: absolute;
    top: 0;
    right: 3%;
    background-color: rgba(252, 41, 41, 0.945);
    color: rgb(238, 238, 129);
    border: 2px solid rgb(238, 238, 129);
    border-radius: 5%;
}

.tarjeta-nuevo p {
    margin-bottom: 0 !important;
}

/* Clases y Talleres */
section h2 {
    color: #953F70;
}

.tabla-horarios {
    margin: 1rem;
}

/* Contacto */
.btn-light {
    color: #f8f8ff !important;
    background-color: #a69db4 !important;
    border: 1px solid #a69db4 !important;
}

/* Media Queries */

@media screen and (max-width: 768px) {
    * {
        font-size: small;
    }

    nav.navbar-desktop {
        display: none;
    }

    nav.navbar-tablet-mobile {
        display: block;
    }
}