$fondo-header-footer: #a69db4;
$fondo-main: #f8f8ff;
$color-link: #953f70;
$color-hover-active: #f8f8ff;
$color-h2: #953F70;
$border-top: 2px solid #953f705a;

//Tarjeta "Nuevo"
$bg-nuevo: rgba(252, 41, 41, 0.945);
$color-nuevo: rgb(238, 238, 129);
$borde-nuevo: 2px solid rgb(238, 238, 129);

$verde-wp: #34784e;